<html>
    <head><title>Details</title></head>
    <body>
        <h1>Book title : {{dbook.title}}</h1>
        Author : {{dbook.author}}
        ISBN Number : {{dbook.isbn_no}}
        Year : {{dbook.year}}
        <form action="{{ url_for('rated') }}" method="post">
                <input type="text" name="rating" placeholder="Enter rating">
                <input type="text" name="comment" placeholder="Enter comment">
                <button>Submit</button></form>
        <h2>Goodreads rating :{{rating}}</h2>
        <ul>
            {% for rating in rate %}
               <li>{{ rating.rating }}</li>
            {% endfor %}
        </ul>
    </body>
</html>